.c-1{
    color:red;
    font-size: 3rem;
    padding-left:100px;
    padding-top: 30px;
}
/*.d-1{
    height:400px;
    width: 200px;
    background-color:rgb(207, 156, 175);
    position:absolute;

}*/
.d-1{
    height:200px;
    width: 200px;
    border-radius:150px;
    background-color:black;
   position:fixed;
   opacity: 0.1;
    
    
}
/*.d-3{
    height:800px;
    width: 800px;
    background-color: rgb(255, 0, 149);
    
    
}*/