.d-1{
    height:200px;
    width: 200px;
    background-color: rgb(182, 123, 128);
    margin-top:20px;
    position:absolute;

}
.d-2{
    height:200px;
    width: 200px;
    margin-top:20px;
    background-color: rgb(25, 28, 196);
    position:fixed;
    opacity:0.2;

}
.d-3{
    height:900px;
    width: 200px;
    background-color: rgb(190, 197, 110);

    
}